input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
	display: flex;
	width: 30%;
	font-size: 1.2rem;
	border: 1px solid #ccc;
}

input[type='submit'],
button {
	font: inherit;
	width: 30%;
}
